* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	position: relative;
}

body {
	margin: auto;
	background-color: #FFFFFF;
	font-family: Ubuntu, serif !important;
	font-size: 1.7em;
}

.phono {
	font-size: 0.5em;
	margin-left: 1%;
}

.mono {
	font-family: monospace;
}

.mono.margin {
	font-size: 0.8em;
	margin-left: 15px;
	margin-right: 15px;
	pointer-events: none;
}

a {
	color: rgb(240, 40, 25);
	text-decoration: none !important;
}

a:hover {
	color: rgb(130, 40, 25) !important;
	text-underline: none !important;
}

a:link {
	color: rgb(240, 40, 25) !important;
	text-underline: none !important;
}

a:visited {
	color: rgb(200, 40, 25);
	text-underline: none !important;
}

.child.inverse a {
	color: rgb(40, 170, 25);
	text-decoration: none !important;
}

.child.inverse a:hover {
	color: rgb(40, 90, 25) !important;
	text-decoration: none !important;
}

.child.inverse a:link {
	color: rgb(40, 170, 25) !important;
	text-decoration: none !important;
}

.child.inverse a:visited {
	color: rgb(40, 140, 25);
	text-decoration: none !important;
}

span.button {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	width: 1.5em;
	min-height: 1.5em;
	border: none;
	background-color: rgb(255, 255, 255);
	background-size: contain !important;
}

span.button.vertical {
	margin-left: 10px;
}

span.button.dblp{
	background: url(../img/dblp.png) no-repeat;
}


span.button.scholar{
	background: url(../img/scholar.ico) no-repeat;
}


span.button.codeforces{
	background: url(../img/codeforces.png) no-repeat;
}


span.button.github{
	background: url(../img/github.ico) no-repeat;
}

span.button.insta{
	background: url(../img/insta.png) no-repeat;
}

span.button.resume{
	background: url(../img/resume.png) no-repeat;
}

span.giri{
	font-size: small;
	padding: 5px;
	display: inline-block;
	color: #7f7f7f !important;
}

span.box.a{
	cursor: pointer !important;
}

span.a.box{
	cursor: pointer !important;
}

span.a{
	cursor: pointer !important;
}

span.box{
	width: 1em;
	min-height: 1em;
	margin-left: 0.5em;
	height: 1em;
	min-width: 1em;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	cursor: pointer;
	display: inline-block;
	background-size: contain !important;
}

span.box.link{
}

span.details{
	font-weight: bolder;
	background-color: #eebb20 !important;
}
span.details.light{
	background-color: #ffdd40 !important;
}

span.box.light{
	border: #eebb20 2px solid;
	border-radius: 3px;
	width: 1.2em;
	min-height: 1.2em;
	margin-left: 0.4em;
	height: 1.2em;
	min-width: 1.2em;
}

span.box.link.gooj{
	top: 0.6em;
}

span.upload{
	background-color: #dfaf5f !important;
}

span.oldslide{
	background-color: #419e2a !important;
}

span.slide{
	background-color: #c12e2a !important;
}

span.conference{
	background-color: #2e6da4 !important;
}

span.poster{
	background-color: #66afe9 !important;
}

span.arxiv{
	background-color: #3c3c3c !important;
}

.righty {
	margin-right: 10%;
}

.lefty {
	padding-left: 5%;
}

header {
    position: fixed;
	width: 100%;
    z-index: 10;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
    /*padding: 20% 10%;*/
    height: 70%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.80);
	color: #FFF;
	/*border-bottom: 4px solid #EEE;
	 */
	pointer-events: none;
}

.h1 {
	font-size: 2em !important;
}

.appears {
	display: none;
}

.hides {
	display: none;
}

.flexer {
	display: flex;
	align-content: center;
}

.flexer.hor {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.flexer.ver {
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

.flexy {
	flex-basis: auto;
	flex-grow: 1;
}

.above {
	z-index: 12;
}

article {
	padding-left: 5%;
	padding-right: 10%;
	padding-top: 35px;
	padding-bottom: 30px;
}

article p {
	text-align: justify;
	padding-left: 5%;
	margin-top: 30px;
	margin-bottom: 15px;
}

article.vertical p {
	text-align: left;
}

article h3 {
	text-align: left;
	padding-left: 5%;
	margin-top: 45px;
	margin-bottom: 15px;
}

article ul {
	/*padding-left: 60px;*/
}

.profilepic {
	width: 375px;
	height: 361px;
	/*border-radius: 50%;
	background: url(../img/me5.jpg) no-repeat;
	background-size: 230px 230px;*/
	text-align: center;
	border: 1px solid #FFF;
}

.profilepic img {
	/*opacity: 0;*/
	width: 230px;
	height: 230px;
/*	filter: alpha(opacity=0);*/
}

.logowrapper {
	padding-left: 10% !important;
	padding-right: 5%;
}

.caption {
	font-family: 'PT Sans Caption', serif;
	text-decoration: none;
	flex-shrink: 0;
	height: 12%;
}

.subcaption {
	font-family: 'Ubuntu', serif;
	text-decoration: none;
	font-weight: lighter;
	margin-top: 20px;
	padding-right: 20%;
	flex-shrink: 1;
}

.snappy-scroll {
	-ms-scroll-snap-type: mandatory;
      scroll-snap-type: y mandatory;
	scroll-padding-top: 25vh;
	height: 100vh;
	overflow-y: auto;
}

.scroll-wrapper {
	height: 100vh;
	overflow-y: auto;
}

.child {
  	scroll-snap-align: start;
	min-height: 80vh;
	width: auto;
}

.child.inverse {
	background-color: #000;
	color: #BBB;
	font-weight: 300;
}

.child.inverse b {
	color: #FFF;
}

.cover {
	background: url(../img/umd-blurred.jpg) no-repeat;
	background-size: 100%;
	height: 100vh;
}

.cover.vertical {
	background: url(../img/umd-blurred-vertical.png) no-repeat;
}

article .flexer {
	display: flex;
	align-content: stretch;
}

article .flexer.hor {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: start;
}

article span.image.flexy {
	flex-grow: 1;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 5%;
}

article span.image.monitor {
	background: url(../img/monitor.png) no-repeat;
	background-size: contain !important;
	width: 300px;
	min-height: 200px;
	display: inline-block;
}

article p.imaged {
	width: 50%;
	flex-grow: 1;
}

p.filler {
	min-height: 20vh;
	width: 100%;
	display: inline-block;
}
