* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	position: relative;
}

article>p {
}

body {
	margin: auto;
	background-color: #FFFFFF;
	font-family: Ubuntu, serif !important;
	font-size: 1.7em;
}

.phono {
	font-size: 0.5em;
	margin-left: 1%;
}

.mono {
	font-family: monospace;
}

.mono.margin {
	font-size: 0.8em;
	margin-left: 15px;
	margin-right: 15px;
	pointer-events: none;
}

a {
	color: rgb(240, 40, 25);
	text-decoration: none !important;
}

a:hover {
	color: rgb(130, 40, 25) !important;
	text-underline: none !important;
}

a:link {
	color: rgb(240, 40, 25) !important;
	text-underline: none !important;
}

a:visited {
	color: rgb(200, 40, 25);
	text-underline: none !important;
}

span.button {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	width: 1.5em;
	min-height: 1.5em;
	border: none;
	background-color: rgb(255, 255, 255);
	background-size: contain !important;
	cursor: pointer;
}

span.button.dblp{
	background: url(../img/dblp.png) no-repeat;
}


span.button.scholar{
	background: url(../img/scholar.ico) no-repeat;
}


span.button.codeforces{
	background: url(../img/codeforces.png) no-repeat;
}


span.button.github{
	background: url(../img/github.ico) no-repeat;
}

span.button.resume{
	background: url(../img/resume.png) no-repeat;
}

.righty {
	margin-right: 10%;
}


header {
    position: fixed;
	width: 100%;
    z-index: 10;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
    /*padding: 20% 10%;*/
    height: 70%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.75);
	color: #FFF;
	/*border-bottom: 4px solid #EEE;
	 */
	pointer-events: none;
}

.h1 {
	font-size: 2em !important;
}

.appears {
	display: none;
}

.flexer {
	display: flex;
	align-content: center;
}

.flexer.hor {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.flexer.ver {
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

.flexy {
	flex-basis: auto;
	flex-grow: 1;
}

.above {
	z-index: 12;
}

article {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 35px;
	padding-bottom: 30px;
}

article>p {
	text-align: left;
	padding-left: 30px;
	margin-top: 30px;
}

article>h3 {
	text-align: left;
	padding-left: 30px;
	margin-top: 30px;
}

article>ul {
	padding-left: 60px;
}

.circular {
	width: 230px;
	height: 230px;
	border-radius: 50%;
	background: url(../img/me3.png) no-repeat;
	background-size: 230px 230px;
	text-align: center;
	border: 4px solid #FFF;
}

.circular img {
	opacity: 0;
	width: 230px;
	height: 230px;
/*	filter: alpha(opacity=0);*/
}

.logowrapper {
	padding-left: 15%;
	padding-right: 5%;
}

.caption {
	font-family: 'PT Sans Caption', serif;
	text-decoration: none;
	flex-shrink: 0;
	height: 12%;
}

.subcaption {
	font-family: 'Ubuntu', serif;
	text-decoration: none;
	font-weight: lighter;
	margin-top: 20px;
	padding-right: 20%;
	flex-shrink: 1;
}

.snappy-scroll {
	-ms-scroll-snap-type: mandatory;
      scroll-snap-type: y mandatory;
	scroll-padding-top: 25vh;
	height: 100vh;
	overflow-y: auto;
}

.child {
  	scroll-snap-align: start;
	min-height: 80vh;
	width: auto;
}

.cover {
	background: url(../img/umd-blurred.jpg) no-repeat;
	background-size: 100%;
	height: 100vh;
}

